$card-list-vpadding: 0 !default
$card-list-hpadding: 0 !default
$card-list-background-color: #fff !default
$card-list-header-margin-top: 1rem !default
$card-padding: 10px !default
$card-margin: 10px !default
$card-width: 200px !default
$card-height: 100px !default
$card-border-radius: 3px !default
$card-background-color: #eee !default
$card-box-shadow: none !default
$card-header-font-size: 16px !default
$card-header-text-color: #000 !default
$card-body-font-size: 12px !default
$card-body-margin: 0 !default
$card-ribbon-background-color: #f00 !default
$card-ribbon-text-color: #fff !default

.card-list
  display: flex
  flex-wrap: wrap
  background-color: $card-list-background-color
  padding: $card-list-vpadding $card-list-hpadding

.card-header
  margin-top: $card-list-header-margin-top
  padding-left: $card-list-hpadding + $card-padding
  padding-right: $card-list-hpadding + $card-padding

.card
  display: flex
  flex-direction: column
  justify-content: space-between
  overflow: hidden
  position: relative
  background-color: $card-background-color
  border-radius: $card-border-radius
  box-shadow: $card-box-shadow
  height: $card-height
  margin: $card-margin
  padding: $card-padding
  width: $card-width
  h5
    text-transform: none
    color: $card-header-text-color
    font-size: $card-header-font-size
    margin-bottom: $card-margin
  p
    display: flex
    justify-content: space-between
    font-size: $card-body-font-size
    margin: $card-body-margin
  .full
    width: 50px
    position: absolute
    top: (cos(45deg) * 10px)
    right: (sin(45deg) * -20px)
    font-size: 10px
    text-align: center
    line-height: 12px
    letter-spacing: 1px
    transform: rotate(45deg)
    -webkit-transform: rotate(45deg)
    background: $card-ribbon-background-color
    color: $card-ribbon-text-color

