svg.facebook
  @extend %socialmedia
  &:hover
    fill: $color-facebook

svg.twitter
  @extend %socialmedia
  &:hover
    fill: $color-twitter

svg.instagram
  @extend %socialmedia
  &:hover
    fill: $color-instagram

svg.youtube
  @extend %socialmedia
  &:hover
    fill: $color-youtube
