{{ $desktop_transforms := (slice "q_auto:best" "b_rgb:000000,e_gradient_fade,y_-0.5" (printf "co_rgb:ffffff,l_text:overpass_108_style_bold:%s,g_south_east,x_100,y_40" .Params.name)) }}
{{ $fileURL := (split .Params.photo "/upload/") }}
{{ $desktop_file := (delimit (slice (index $fileURL 0) "upload" | append $desktop_transforms | append (index $fileURL 1)) "/") }}
  
<article class="company-summary">
  <img 
    src="{{ $desktop_file }}" alt="{{ .Params.name }}">
  <section class="company-description">
    {{ .Content}}
  </section>
</article>
