address
  background: $address-background-color
  color: $address-text-color
  font:
    family: $address-font-family
    style: $address-font-style
    size: $address-font-size
  display: flex
  align-items: center
  justify-content: space-between
  padding: 18px
  margin-bottom: $header-vmargin