.event-heading
  margin: 32px 32px 0

ul.event-list
  display: flex
  justify-content: center
  margin: 0 32px
  flex-wrap: wrap
  li
    margin: 0 10px

.event
  margin: 32px
  img
    border-radius: 10px
    display: block
    margin: auto
    +breakpoint('mama-bear')
      float: right
      margin-left: 24px
