header
  background: $header-background-color
  min-height: 120px
  display: flex
  height: $header-height
  z-index: $zindex-header
  a
    z-index: $zindex-dropdown
  img
    max-height: $header-height
  +breakpoint("papa-bear")
    position: sticky
    top: 0
    transition: $transition-sticky-header
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 ($header-hmargin * 2)
    &.sticky-header
      height: .85 * $header-height
      margin: 0 0 (.15 * $header-height)
      img
        max-height: .85 * $header-height
