.sessions
  padding: $horiz-padding $vert-padding
  display: flex
  flex-direction: column
  .fall-session
    display: flex
    justify-content: space-between
    padding-bottom: $vert-padding
  .winter-session
    display: flex
    justify-content: center
    