{{ define "main" }}
<ul class="staff-list">
  {{ range .Pages }}
    {{ $transforms := (slice "ar_1:1,c_crop" "c_limit,w_300" "g_face:center") }}
    {{ $fileURL := (split .Params.photo "/upload/") }}
    {{ $file := (delimit (slice (index $fileURL 0) "upload" | append $transforms | append (index $fileURL 1)) "/") }}
    <li>
      <a href="{{.RelPermalink}}">
        <figure class="staff-card">
          <img src="{{ $file }}" alt="{{ .Params.name }}" />
          <figcaption>
            <p>{{ .Params.name }}</p>
          </figcaption>
        </figure>
      </a>
    </li>
  {{ end }}
</ul>
{{ end }}