{{ define "main" }}
<ul class="staff-list">
  {{ range sort .Pages ".Params.name" }}
    {{ $transforms := (slice "ar_1:1,c_crop" "c_limit,w_300" "g_face:center" "e_grayscale") }}
    {{ $fileURL := (split .Params.photo "/upload/") }}
    <li>
      <a href="#{{ .Params.name | urlize }}">
        <figure class="staff-card">
          {{ if gt (len $fileURL) 1 }}
          {{ $file := (delimit (slice (index $fileURL 0) "upload" | append $transforms | append (index $fileURL 1)) "/") }}
          <img src="{{ $file }}" alt="{{ .Params.name }}" />
          {{ else }}
          <img src="https://res.cloudinary.com/cc-co-dance-complex/image/upload/c_scale,fl_alpha,w_300/ccco-logo.png" alt="No image available">
          {{ end }}
          <figcaption>
            <p>{{ .Params.name }}</p>
          </figcaption>
        </figure>
      </a>
      <article class="css-modal" id="{{ .Params.name | urlize }}" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">

          <div class="css-modal_inner">
            <div class="css-modal_header"><a href="#!" class="close-icon">&#x2715;</a></div>
              <div class="css-modal_content">
                <div class="staff-modal">
                  {{ if gt (len $fileURL) 1 }}
                  {{ $file := (delimit (slice (index $fileURL 0) "upload" | append $transforms | append (index $fileURL 1)) "/") }}
                  <img src="{{ $file }}"/>
                  {{ else }}
                  <img src="https://res.cloudinary.com/cc-co-dance-complex/image/upload/c_scale,fl_alpha,w_300/ccco-logo.png" alt="No image available">
                  {{ end }}
                  <strong>{{ .Params.name }}</strong>
                  <em>{{ .Params.job_title }}</em>
                  <p>{{ .Content }}</p>
                  {{ with .Params.funfact}}<p><strong>Fun fact: </strong>{{ . }}</p>{{ end }}
                  {{ with .Params.startdate }}
                  {{ $start := . | time }}
                  {{ $diff := now.Sub $start }}
                  <p><strong>Years at CCCO:</strong> {{ add (int (div $diff.Hours 8760)) 1 }}</p>
                  {{ end }}
                </div>
              </div>
          </div>
      </article>
    </li>
  {{ end }}
</ul>
{{ end }}
