$horiz-padding : 55px
$vert-padding  : 38px

// Standard color gradient
$three-background-color : $golden-grass $purple-orchid $blue-turquoise

//
$about-font-size   : 14px
$about-line-height : 22px
$about-hpadding    : $horiz-padding
$about-vpadding    : $vert-padding

// Address
$address-background-color : lin-gradient($three-background-color)
$address-text-color       : $titanium-white
$address-font-family      : $font-family-2
$address-font-size        : .75em
$address-font-style       : normal
  
// Buttons
$button-background-color : $yellow-select
$button-text-color       : $titanium-white
$button-font-size        : 23px
$button-font-weight      : $font-medium

// Card
$card-list-background-color   : $platinum
$card-list-hpadding           : $horiz-padding
$card-list-vpadding           : 0
$card-list-header-margin-top  : 1.35rem
$card-padding                 : 10px
$card-margin                  : 10px
$card-width                   : 250px
$card-height                  : 75px
$card-border-radius           : 5px
$card-background-color        : $titanium-white
$card-box-shadow              : 3px 6px 6px rgba(0, 0, 0, .29)
$card-header-font-size        : 18px
$card-header-text-color       : $dark-gray
$card-body-margin             : 0
$card-body-font-size          : 12px
$card-ribbon-background-color : #e43
$card-ribbon-text-color       : #f0f0f0

// Carousel
$carousel-photo-height : 700px 
$carousel-vpadding     : $vert-padding

// CTA
$cta-height   : 175px
$cta-hpadding : $horiz-padding
$cta-vpadding : $vert-padding

// CTA - Register
$register-background-color : lin-gradient($blue-robins-egg $yellow-dandelion)

// CTA - Schedule
$schedule-background-color : lin-gradient($purple-rich-lilac $pink-flamingo)

// Header
$header-background-color : lin-gradient(reverse($three-background-color), .45)
$header-height           : 100px
$header-vmargin          : 32px
$header-hmargin          : $header-vmargin / 2

// Nav
$nav-font-family : $font-family-1
$nav-font-size   : 16px
$nav-font-weight : $font-semi-bold

// Social Media
$socialmedia-color   : $titanium-white
$socialmedia-height  : 18px
$socialmedia-padding : 0 2px

// Staff Card
$staff-card-border-color     : $dark-gray
$staff-card-border-radius    : 10px
$staff-card-border-width     : 1px
$staff-card-width            : 300px
$staff-card-background-color : $schedule-background-color
$staff-card-caption-height   : 60px
$staff-card-text-color       : $titanium-white
$staff-card-font-weight      : $font-medium
