%breakword
  word-wrap: break-word
  
%socialmedia
  fill: $socialmedia-color
  height: $socialmedia-height
  padding: $socialmedia-padding
  vertical-align: middle
  
%cta
  align-items: center
  display: flex
  height: $cta-height
  justify-content: space-between
  padding: $cta-vpadding $cta-hpadding
  h3, p
    color: $titanium-white
  h3
    font-size: 40px
    text-transform: none
    font-weight: $font-bold