<!doctype html>
<html lang="en-us">
  {{ partial "head" . }}
  <body>
    {{ with .Params.covidlevel }}
    {{ partial "covidlevel" . }}
    {{ end }}
    {{ partial "header" . }}
    <main>
    {{ block "main" . }}{{ end }}
    </main>
    {{ partial "address" . }}
    <script src="/js/scroll.js" async defer></script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      });
    </script>
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
