<!doctype html>
<html lang="en-us">
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
    <main>
    {{ block "main" . }}{{ end }}
    </main>
    {{ partial "address" . }}
    <script src="/js/scroll.js" async defer></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
