{{ define "main" }}
<section class="sessions">
  <div class="fall-session">
    <a href="/programs/fall/preschool"><img src="https://res.cloudinary.com/cc-co-dance-complex/image/upload/c_fill,g_center,h_400,w_400/b_rgb:000000,e_gradient_fade,y_-0.50/co_rgb:ffffff,l_text:overpass_42_style_bold_align_center:Preschool,w_0.75,y_0.3/v1578000148/programs/preschool.jpg" alt="Fall Preschool Sessions"></a>
    <a href="/programs/fall/k-12"><img src="https://res.cloudinary.com/cc-co-dance-complex/image/upload/c_fill,g_center,h_400,w_400/b_rgb:000000,e_gradient_fade,y_-0.50/co_rgb:ffffff,l_text:overpass_42_style_bold_align_center:Grade%20School,w_0.75,y_0.3/v1578000148/programs/k-12.jpg" alt="Fall Grade School Sessions"></a>
    <a href="/programs/fall/adult"><img src="https://res.cloudinary.com/cc-co-dance-complex/image/upload/c_fill,g_center,h_400,w_400/b_rgb:000000,e_gradient_fade,y_-0.50/co_rgb:ffffff,l_text:overpass_42_style_bold_align_center:Adult%20Classes,w_0.75,y_0.3/v1578000148/programs/adult.jpg" alt="Fall Preschool Sessions"></a>
  </div>
  <div class="winter-session">
    <a href="/programs/winter"><img src="https://res.cloudinary.com/cc-co-dance-complex/image/upload/c_fill,g_center,h_400,w_400/b_rgb:000000,e_gradient_fade,y_-0.50/co_rgb:ffffff,l_text:overpass_42_style_bold_align_center:Winter%20Session,w_0.75,y_0.3/v1578000148/programs/winter.jpg"></a>
  </div>
</section>

{{ end }}