{{ define "main" }}
<article class="sessions">
  {{ range .Pages }}
    <div class="{{.Params.sectionClass}}">
      {{ if .Pages }}
        {{ range sort .Pages ".Title" "desc" }}
        {{ $mobile_transforms := (slice "q_auto:best" "ar_1:1,c_crop" "c_limit,w_680" "g_faces:center" "b_rgb:000000,e_gradient_fade,y_-0.5" (printf "co_rgb:ffffff,l_text:overpass_72_style_bold:%s,g_south,y_40" (.Params.photo_caption | safeHTML)))  }}
        {{ $desktop_transforms := (slice "c_fill,g_faces:center,h_400,w_1200" "q_auto:best" "b_rgb:000000,e_gradient_fade,y_-0.5" (printf "co_rgb:ffffff,l_text:overpass_108_style_bold_align_center:%s,w_0.75,y_0.3" (.Params.photo_caption | safeHTML))) }}
        {{ $fileURL := (split .Params.photo "/upload/") }}
        {{ $mobile_file := (delimit (slice (index $fileURL 0) "upload" | append $mobile_transforms | append (index $fileURL 1)) "/") }}
        {{ $desktop_file := (delimit (slice (index $fileURL 0) "upload" | append $desktop_transforms | append (index $fileURL 1)) "/") }}
          <a href="{{.RelPermalink}}">
            <picture>
              <source media="(max-width: 719px)" srcset="{{ $mobile_file | safeURL }}">
              <source media="(min-width: 720px)" srcset="{{ $desktop_file | safeURL }}">
              <img src="{{ $desktop_file }}" alt="{{ .Title }}">
            </picture>
          </a>
        {{ end }}
      {{ else }}
      {{ $mobile_transforms := (slice "q_auto:best" "ar_1:1,c_crop" "c_limit,w_680" "g_faces:center" "b_rgb:000000,e_gradient_fade,y_-0.5" (printf "co_rgb:ffffff,l_text:overpass_108_style_bold:%s,g_south,y_40" (.Params.photo_caption | safeHTML)))  }}
      {{ $desktop_transforms := (slice "c_fill,g_center,h_400" "q_auto:best" "b_rgb:000000,e_gradient_fade,y_-0.5" (printf "co_rgb:ffffff,l_text:overpass_108_style_bold_align_center:%s,w_0.75,y_0.3" (.Params.photo_caption | safeHTML))) }}
      {{ $fileURL := (split .Params.photo "/upload/") }}
      {{ $mobile_file := (delimit (slice (index $fileURL 0) "upload" | append $mobile_transforms | append (index $fileURL 1)) "/") }}
      {{ $desktop_file := (delimit (slice (index $fileURL 0) "upload" | append $desktop_transforms | append (index $fileURL 1)) "/") }}

        <a href="{{.RelPermalink}}"><img src="{{.Params.photo}}" alt="{{.Title}}"></a>
      {{ end }}
    </div>
  {{ end }}
</article>

{{ end }}
