{{ $id := replaceRE ".*preLoadClassID=([0-9]+)&.*" "id-$1" .online_reg_link }}
{{ $min_age := (cond (eq .min_age "") 0 (replaceRE "^P0?([0-9]+)Y[0-1][0-9]M" "$1" .min_age )) }}
{{ $max_age := (cond (eq .max_age "") 99 (replaceRE "^P0?([0-9]+)Y[0-1][0-9]M" "$1" .max_age )) }}
{{ $start_hour := (mod (int (replaceRE "^0?([1-2]?[0-9]):.*" "$1" .start_time)) 12) }}
{{ if eq $start_hour 0 }}
{{ $start_hour = 12 }}
{{ end }}
{{ $start_time := replaceRE "^[^:]+" $start_hour .start_time }}
{{ $end_hour := (mod (int (replaceRE "^0?([1-2]?[0-9]):.*" "$1" .end_time)) 12) }}
{{ if eq $end_hour 0 }}
{{ $end_hour = 12 }}
{{ end }}
{{ $end_time := replaceRE "^[^:]+" $end_hour .end_time }}
<a class="unstyled" href="#{{ $id }}">
<article class="card" data-minage="{{$min_age}}" data-maxage="{{$max_age}}">
  {{ if lt .openings.calculated_openings 1 }}
  <span class="full">FULL</span>
  {{ end }}
  <h5>{{ .name }}</h5>
  <p>
  {{ if (gt (len .instructors) 1) }}
  <span>Multiple</span>
  {{ else }}
  <span>{{ index .instructors 0 }}</span>
  {{ end }}
  <span>
    {{ if .meeting_days.mon }}Mon{{ else if .meeting_days.tue }}Tue{{ else if .meeting_days.wed }}Wed{{ else if .meeting_days.thu }}Thu{{ else if .meeting_days.fri }}Fri{{ else if .meeting_days.sat }}Sat{{ else if .meeting_days.sun }}Sun{{end}}
    {{ $start_time }} - {{ $end_time }}
  </span>    
</article>
</a>

<article class="css-modal" id="{{ $id }}" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">

    <div class="css-modal_inner">
        <div class="css-modal_header">{{ .name }}</div>
        <div class="css-modal_content">{{ .description }}</div>
        <div class="css-modal_footer">
          {{ if ge .openings.calculated_openings 1 }}
            <a href="{{.online_reg_link}}" class="button">Register</a>
          {{ end }}
          <a href="#!" class="button" title="Close this modal" data-close="Close" data-dismiss="modal">Close</a>
        </div>
    </div>
</article>