{{ define "main" }}

{{ with .Params.alert }}
<div class="alert alert-info">
  <div class="alert-heading"><strong>{{.title}}</strong></div>
  {{ .description | safeHTML }}
  {{ with .url }}<a class="alert-link" href="{{.}}">Read more...</a>{{ end }}
</div>
{{ end }}

{{ partial "carousel" . }}

{{ partial "about-us" . }}

{{ partial "cta/schedule" . }}

{{ $events := (where (where .Site.RegularPages "Type" "events") ".Date" "ge" now )}}
{{ if (gt (len $events) 0) }}
  <article class="whats-happening">
    <h2>What's happening</h2>
    <hr class="heading-rule centered">
    <ul class="event-list">
  {{ range first .Params.eventnum $events.ByDate }}
    {{ .Render "li" }}
  {{ end }}
    </ul>
  </article>
{{ end }}

{{ partial "cta/register" . }}

{{ end }}
