{{ define "main" }}

{{ $mainOptions := (dict "targetPath" "css/home.css" "outputStyle" "compressed" "enableSourceMap" false ) }}
{{ $home := resources.Get "sass/home.sass" | resources.ToCSS $mainOptions }}

<link href="{{ $home.RelPermalink }}" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{ partial "carousel" . }}

{{ partial "about-us" . }}

{{ partial "cta/schedule" . }}

{{ $events := (where (where .Site.RegularPages "Type" "events") ".Date" "ge" now )}}
{{ if (gt (len $events) 0) }}
  <article class="whats-happening">
    <h2>What's happening</h2>
    <hr class="heading-rule centered">
    <ul class="event-list">
  {{ range first .Params.eventnum $events.ByDate }}
    {{ .Render "li" }}
  {{ end }}
    </ul>
  </article>
{{ end }}

{{ partial "cta/register" . }}

{{ end }}
